.searchbox-container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-box {
  display: flex;
  align-items: center;
  width: 80%;
}
.input-box > input,
textarea {
  border-radius: 0;
  outline: 0;
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid rgba(95, 84, 84, 0.527);
  border-right: 2px solid rgba(80, 77, 77, 0.527);
}

@media screen and (min-width: 475px) {
  .input-box {
    width: 80%;
  }
}
