.container {
  display: flex;
  justify-content: center;
  height: 90vh;
  margin-top: 3%;
}
.weatherbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  height: 70%;
  background-color: rgba(130, 133, 133, 0.842);
  color: whitesmoke;
  border-radius: 10px;
}
.temp-loc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
}
.temperature-box {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  font-size: xx-large;
}
.location-box {
  display: flex;
  justify-content: flex-start;
  padding: 2%;
}
.weather-type {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
  align-items: center;
}
.type {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}
.today-forcast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15vh;
  width: 100%;
  align-items: center;
}
.all-forcast {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  align-items: center;
}
.weather-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15vh;
  width: 100%;
}
.ti-va {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  display: flex;
  padding: 15px;
  font-size: large;
}
.value {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: small;
}
.update-button {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
