h1 {
  margin-bottom: 0;
}
.weatherbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.location__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  font-size: 50px;
  font-weight: 500;
}
.temperature__box {
  padding: 15px;
  font-size: 70px;
  font-weight: 800;
}
.type {
  padding-bottom: 10px;
  font-size: 50px;
  font-weight: 550;
}
.sunrise__sunset {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 300;
}
.title {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}
.value {
  padding: 10px;
}
.all__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.ti__va {
  display: flex;
  justify-content: space-between;
}
.one {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.two {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title1 {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
}
